.tourPage {
    height: 100vh;
    overflow: hidden;
    position: relative;
}


.tourContent {
    /* margin-top: 100px; */
    /* Adjust height depending on your video height */
    position: relative;
    z-index: 2;
    padding: 2rem;
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}


.videoList {
    margin-top: 2rem;
}

.tourContainer {
    position: relative;
    top: 0px;
    width: 100%;
    min-height: 100vh;
    height: auto;
    padding: 0rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f9f9f9;
    color: #1f2937;
    overflow: hidden;
}



.videoCard {
    width: 100%;
    /* take full width of the parent */
    max-width: 100%;
    /* flex: 1 1 300px; */
    /* border: 1px solid #ddd; */
    border-radius: 12px;
    /* height: 25%; */
    /* overflow: hidden; */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background: #fff;
    padding: 1rem;
}